---
---
@import "minima/minima"; // переменные и миксины
@import "minima/minima/base";
@import "minima/minima/layout";
@import "minima/minima/syntax-highlighting";
@import "minima/skins/auto"; // если хотите auto skin
@import "minima/minima/custom-styles"; // ваши кастомные стили
