.save-to {
    cursor: pointer;
    width: 36px;
    height: 36px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 6px 7px;
    border-radius: 18px;
    margin-right: 8px;
    transition: all .3s ease-in-out;
}

.save-to:hover {
    transform: rotate(180deg);
    transition: all .2s ease-in-out;
}

.save-to {
    background-color: rgba(255, 0, 0, .8);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAA7EAAAOxAGVKw4bAAABYUlEQVRo3u2XTU7EMAyF7QjBhhNwhBEnQN0wy54AiStwldlxhV4FqaeouEIjVRoS2yymSFFV+jNN2iL8Lavk1c9x4gRAURRFUQKY+SQiTrbHMfNpLF7sfhCRMwDcbp3Ili9EvBsaYHoMvAOA3zpyAPBtLIqi/Cu0D8RF+4Ci7BVrrSGinJkLEanak8+JSMXMBRHl1lqz/E8JIKIDM5dj5ygzl0R0mCWeoA98Oufug+CPImJnzLdEdJxsQETOMbsRM7+EmZ8ZfGhi2kpEXoGqaRoDcKn5obLx3mfe+2wgEWVd19vtCSLKh5wGFfArRJR3dVdzhIivKTTWNPC0B42r6e4r7302NqdnT7jumH02iiXEPIWccw8/unLptos2sYhUoyuAiG8AcBMjGcaYxyCwj6V6fRpJ3wOI+BzoFhEMLNa4mj/fyABWukqsYCLtZW4lE+mu02sx5UGzec0riqIou+cbNW5M5gYNTDoAAAAASUVORK5CYII=');
}

.save-to:hover {
    background-color: rgba(255, 0, 0, 1);
}